<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stockService" class="com.mthree.pour_control.service.StockServiceImpl"/>

    <bean id="StockController" class="com.mthree.pour_control.controller.StockController">
        <constructor-arg ref="stockService"/>
    </bean>

</beans>